.option {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 5px;
  float: left;
  clear: none;
  text-align: center;
  vertical-align: middle;
  @include border-radius(5px);
  @include boxsizing(border-box);
  @include boxshadow(3px 3px $tile-border);
  border: 1px solid $tile-border;
  cursor: pointer;
}


.drink {
  background: $drinks;
}

.meal {
  background: $meals;
}

.bread {
  background: $breads;
}
.cake{
  background: $cakes;
}