doctype html
html
    head
        title test
        link(rel='stylesheet', href="css/style.css")
    body
        script(data-main="js/app" src="http://requirejs.org/docs/release/2.1.9/minified/require.js")
        #wrapper
            #content
                #products
                #additions.closed
                    .dynamic
                    .cancel
                        button(id="cancelItem") Cancel Item
                #checkout
                    h2 Order



